<app-navbar></app-navbar>
	<div class="wrapper">

		<div class="cover-top">

			<div class="northern-light"></div>

			<div class='polar-star polar-star-1'></div>
			<div class='polar-star polar-star-2'></div>
			<div class='polar-star polar-star-3'></div>
			<div class='polar-star polar-star-4'></div>
			<div class='polar-star polar-star-5'></div>
			<div class='polar-star polar-star-6'></div>
			<div class='polar-star polar-star-7'></div>
			<div class='polar-star polar-star-8'></div>
			<div class='polar-star polar-star-9'></div>

		</div>

		<div class="mountains-layer-1"></div>
		<div class="mountains-layer-2"></div>
		<div class="mountains-layer-3"></div>
		<div class="mountains-layer-4"></div>

		<div class="tree-1">
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-log"></div>
		</div>

		<div class="tree-2">
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-log"></div>
		</div>

		<div class="tree-3">
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-log"></div>
		</div>

		<div class="tree-4">
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-log"></div>
		</div>

		<div class="tree-5">
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-layer"></div>
				<div class="tree-log"></div>
		</div>

		<div class="moon">

			<div class="moon-light-1"></div>
			<div class="moon-light-2"></div>
			<div class="moon-light-3"></div>
			<div class="moon-orb">
				<div class="moon-crator-1"></div>
				<div class="moon-crator-2"></div>
				<div class="moon-crator-3"></div>
				<div class="moon-crator-4"></div>
				<div class="moon-crator-5"></div>
				<div class="moon-crator-6"></div>
				<div class="moon-crator-7"></div>
			</div>

		</div>

		<div class="brick-house">

			<div class="roof-snow-1"></div>
			<div class="roof-snow-2"></div>
			<div class="roof-snow-3"></div>
			<div class="roof-snow-4"></div>
			<div class="roof-snow-5"></div>
			<div class="roof-snow-6"></div>
			<div class="roof-snow-7"></div>
			<div class="roof-snow-8"></div>
			<div class="roof-snow-9"></div>
			<div class="roof-snow-10"></div>
			<div class="roof-snow-11"></div>

			<div class="chimney-top">
				<div class="chimney-top-block"></div>
			</div>
			<div class="chimney-bottom">

				<div class="chimney-block-1"></div>
				<div class="chimney-block-2"></div>
				<div class="chimney-block-1"></div>
				<div class="chimney-block-2"></div>
				<div class="chimney-block-2"></div>
				<div class="chimney-block-1"></div>
				<div class="chimney-block-2"></div>
				<div class="chimney-block-1"></div>

			</div>

			<div class="roof"></div>
			<div class="house-box">

				<div class="house-window-1">
					<div class="window-glass"></div>
					<div class="window-glass"></div>
					<div class="window-glass"></div>
					<div class="window-glass"></div>
				</div>

				<div class="house-window-2">
						<div class="window-glass"></div>
						<div class="window-glass"></div>
						<div class="window-glass"></div>
						<div class="window-glass"></div>
				</div>

				<div class="house-window-3">
						<div class="window-glass"></div>
						<div class="window-glass"></div>
						<div class="window-glass"></div>
						<div class="window-glass"></div>
				</div>

					<p class="neon-sign">2020</p>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>

				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>

				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
				<div class="box-block-1"></div>
				<div class="box-block-2"></div>
	
			
			</div>

		</div>

		<div class="santa-claus">

			<div class="santa-claus-head">

				<div class="claus-eye-1"></div>
				<div class="claus-eye-2"></div>
				<div class="claus-eye-3"></div>

				<div class="claus-mouth"></div>

			</div>

			<div class="santa-claus-beard">
				<div class="claus-beard-1"></div>
				<div class="claus-beard-2"></div>
				<div class="claus-beard-3"></div>
				<div class="claus-beard-4"></div>
			</div>

			<div class="santa-claus-body">

				<div class="claus-arm-1">
					<div class="arm-top"></div>
					<div class="arm-bottom-1"></div>
					<div class="arm-bottom-2"></div>
				</div>

				<div class="claus-arm-2">
						<div class="arm-top"></div>
						<div class="arm-bottom-1"></div>
						<div class="arm-bottom-2"></div>
					</div>

			</div>

			<div class="legs-top">
					<div class="legs-top-1"></div>
					<div class="legs-top-1"></div>
			</div>

			<div class="claus-body-bottom">
				<div class="body-bottom-1"></div>
				<div class="body-bottom-2"></div>
			</div>

			<div class="legs-bottom">
					<div class="legs-bottom-1"></div>
					<div class="legs-bottom-1"></div>
			</div>

		</div>

		<div class="happy-message">
			<div class="happy-message-1">
				<p>Feliz Navidad!</p>
			</div>
			<div class="happy-message-2"></div>
			<div class="happy-message-3"></div>
		</div>

		<div class="main-cristmas-tree">
			<div class="cristmas-star"></div>
			<div class="cristmas-tree-1"></div>
			<div class="cristmas-tree-2"></div>
			<div class="cristmas-tree-3"></div>
			<div class="cristmas-tree-4"></div>
			<div class="cristmas-tree-5"></div>
			<div class="cristmas-tree-6"></div>
			<div class="main-tree-snow-1">
				<div class="snow-1-top"></div>
				<div class="snow-1-bottom"></div>
			</div>

			<div class="main-tree-snow-2">
					<div class="snow-2-top"></div>
					<div class="snow-2-bottom"></div>
			</div>
			
			<div class="main-tree-snow-3">
					<div class="snow-3-top"></div>
					<div class="snow-3-bottom"></div>
			</div>

			<div class="main-tree-snow-4">
					<div class="snow-4-top"></div>
					<div class="snow-4-bottom"></div>
			</div>

			<div class="main-tree-snow-5">
					<div class="snow-5-top"></div>
					<div class="snow-5-bottom"></div>
			</div>

			<div class="cristmas-toy-1">
				<div class="toy-1-bril"></div>
			</div>

			<div class="cristmas-toy-2">
					<div class="toy-2-bril"></div>
			</div>

			<div class="cristmas-toy-3">
					<div class="toy-3-bril"></div>
			</div>

			<div class="cristmas-toy-4">
					<div class="toy-4-bril"></div>
			</div>

			<div class="cristmas-toy-5">
					<div class="toy-5-bril"></div>
			</div>

			<div class="cristmas-toy-6">
					<div class="toy-6-bril"></div>
			</div>

			<div class="cristmas-toy-7">
					<div class="toy-7-bril"></div>
			</div>

			<div class="cristmas-toy-8">
					<div class="toy-8-bril"></div>
			</div>

			<div class="cristmas-toy-9">
					<div class="toy-9-bril"></div>
			</div>

			<div class="cristmas-toy-10">
					<div class="toy-10-bril"></div>
			</div>

			<div class="tree-log"></div>

		</div>

		<div class="cristmas-deer-1">
			<div class="deer-horns">
				<div class="deer-horns-1"></div>
				<div class="deer-horns-2"></div>
				<div class="deer-horns-3"></div>
			</div>

			<div class="deer-head">
				<div class="deer-nose"></div>
				<div class="deer-ear"></div>
			</div>

			<div class="deer-neck"></div>

			<div class="deer-tail"></div>

			<div class="deer-leg-1">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

			<div class="deer-leg-2">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

			<div class="deer-leg-3">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

			<div class="deer-leg-4">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

		</div>

		<div class="cristmas-deer-2">
			<div class="deer-horns">
				<div class="deer-horns-1"></div>
				<div class="deer-horns-2"></div>
				<div class="deer-horns-3"></div>
			</div>

			<div class="deer-head">
				<div class="deer-nose"></div>
				<div class="deer-ear"></div>
			</div>

			<div class="deer-neck"></div>

			<div class="deer-tail"></div>

			<div class="deer-leg-1">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

			<div class="deer-leg-2">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

			<div class="deer-leg-3">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

			<div class="deer-leg-4">
				<div class="leg-top"></div>
				<div class="leg-bottom"></div>
			</div>

		</div>

		<div class="cristmas-wagon">
			<div class="wagon-top-1"></div>
			<div class="wagon-top-2"></div>
			<div class="wagon-top-3"></div>
			<div class="wagon-top-4"></div>
			<div class="wagon-top-5"></div>

			<div class="wagon-bottom-1"></div>
			<div class="wagon-bottom-2"></div>
			<div class="wagon-bottom-3"></div>
			<div class="wagon-bottom-4"></div>
		</div>

		<div class="cristmas-pres-box-1">
			<div class="cristmas-pres-box-top-1"></div>
			<span class="tooltip top_tooltip">Archivos</span>
		</div>

		<div class="cristmas-pres-box-2">
				<div class="cristmas-pres-box-top-2"></div>
				<span class="tooltip top_tooltip">Diciembre</span>
		</div>

		<div class="cristmas-pres-box-3">
				<div class="cristmas-pres-box-top-3"></div>
				<span class="tooltip top_tooltip">2020</span>
		</div>

	</div>
	